In [1]:
people = {
    "first": ["Kevin", "Jane", "Jon"],
    "last": ["abc", "def", "pqr"],
    "email": ["kevin@email.com", "jane@email.com", "jon@email.com"]
}

In [2]:
import pandas as pd
df = pd.DataFrame(people)
df

   first last            email
0  Kevin  abc  kevin@email.com
1   Jane  def   jane@email.com
2    Jon  pqr    jon@email.com

In [3]:
df.columns = [x.upper() for x in df.columns]

In [4]:
df

   FIRST LAST            EMAIL
0  Kevin  abc  kevin@email.com
1   Jane  def   jane@email.com
2    Jon  pqr    jon@email.com

In [5]:
people

{'first': ['Kevin', 'Jane', 'Jon'],
 'last': ['abc', 'def', 'pqr'],
 'email': ['kevin@email.com', 'jane@email.com', 'jon@email.com']}

In [7]:
df

   FIRST LAST            EMAIL
0  Kevin  abc  kevin@email.com
1   Jane  def   jane@email.com
2    Jon  pqr    jon@email.com

In [8]:
df.apply(len)

FIRST    3
LAST     3
EMAIL    3
dtype: int64